

.card{
    display: flex;
    border: 2px solid black;
    width: 505px;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 12px;
}
.img img{
    width: 200px;
    height: 110px;
}
.img{
    position: relative;
}
.capsule{
    position: absolute;
    bottom: 4px;
    right: 5px;
    z-index: 10;
    color: white;
    background-color: rgb(29, 25, 25);
    opacity: 0.9;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
}

.text h1,p{
    padding: 2px 0;
}